$webResourceManager.requireResourcesForContext("jira-report-plugin")

<script>
AJS.$(document).ready(function() {
    AJS.$("#download-excel-link").attr("href", AJS.$(".excel a").attr("href"));
});
</script>

<div style="padding: 5px">
<div style="height: 12px;">
<a id="download-excel-link" class="btn btn-default" href="#" role="button" style="float:right; clear:right;">Download Report as Excel</a>
</div>
<!-- Display the report configuration -->
<div class="report-section-header">
Report Information:
</div>
<div>
   <p></p>
   <table class="table-desc">
   <tr><td>Project Name:</td><td>$projectName</td></tr>
   <tr><td>Time Period:</td><td>$dateTimeFormatter.format($startDate) - $dateTimeFormatter.format($endDate)</td></tr>
   <tr><td>Result Set:</td>
        <td>
            #if($deploymentResult == "success")
                Success Deployments Only
            #else
                All Deployments
            #end
        </td>
   </tr>
   <tr><td>Generated On:</td><td>$dateTimeFormatter.format($today)</td></tr>
   </table>
</div>
<br />

<!--Report Details section-->
<div class="report-section-header">
Report Details:
</div>
<table class="table table-striped table-report">
    <thead>
	<tr>
        <th>Issue Id</th>
        <th>Title</th>
        <th>Component</th>
        <th>Version</th>
        #foreach ($transition in $transitions)
        <th>$transition.getFromStatus() - $transition.getToStatus()</th>
        #end  
    </tr>
	</thead>	
    
</table>
</div>