#disable_html_escaping()

$webResourceManager.requireResourcesForContext("jira-report-plugin")

<script>
AJS.$(document).ready(function() {
    AJS.$("#download-excel-link").attr("href", AJS.$(".excel a").attr("href"));
});
</script>

<script type="text/javascript">
var chartTitle = "Success vs Failed Deployments for $projectName";
window.onload = function () {
    var chart = new CanvasJS.Chart("chartContainer",
    {
        title:{
            text: chartTitle
        },
        animationEnabled: true,
        legend:{
            verticalAlign: "center",
            horizontalAlign: "left",
            fontSize: 20,
            fontFamily: "Helvetica"        
        },
        theme: "theme2",
        data: [
        {        
            type: "pie",       
            indexLabelFontFamily: "Garamond",       
            indexLabelFontSize: 20,
            indexLabel: "{label} ({quantity}) {y}%",
            startAngle:-20,      
            showInLegend: true,
            toolTipContent:"{legendText} {y}%",
            dataPoints: [
                {  y: 80, legendText:"Successful", label: "Successful", quantity: 160 },
                {  y: 20, legendText:"Failed", label: "Failed", quantity: 40 }
            ]
        }
        ]
    });
    chart.render();
}
</script>

<div style="padding: 5px">
<div style="height: 12px;">
<a id="download-excel-link" class="btn btn-default" href="#" role="button" style="float:right; clear:right;">Download Report as Excel</a>
</div>
<!-- Display the report configuration -->
<div class="report-section-header">
Report Information:
</div>
<div>
   <p></p>
   <table class="table-desc">
   <tr><td>Project Name:</td><td>$projectName</td></tr>
   <tr><td>Time Period:</td><td>$dateFormatter.format($startDate) - $dateFormatter.format($endDate)</td></tr>
   <td>Generated On:</td><td>$dateTimeFormatter.format($today)</td></tr>
   </table>
</div>
<br />

<!--Report Details section-->
<div class="report-section-header">
Report Details:
</div>
<table class="table table-striped table-report">
    <thead>
	<tr>
        <th>Issue Id</th>
        <th>Title</th>        
        #foreach ($transition in $transitions)
        <th><p>$transition.getFromStatus()</p><p>$transition.getToStatus()</p></th>
        #end  
    </tr>
    <tr style="background: #EEEEEE;">
        <th></th>
        <th>Average</th>
        #foreach ($item in $summery)
            <th>
             $item.getFormattedDuration()
            </th>
        #end        
    </tr>
    #foreach ($rowdata in $tableData)
        <tr>
            <td>
                <a href="/jira/browse/$rowdata.get(0).getIssue().getIssueKey()">$rowdata.get(0).getIssue().getIssueKey()</a>
            </td>
            <td>
                $rowdata.get(0).getIssue().getIssueTitle()
            </td>
            #foreach ($item in $rowdata)
                <td>             
                    $item.getFormattedDuration()        
                </td>
            #end
        </tr>
    #end
	</thead>
</table>
</div>

<!--Report Details section-->
<div class="report-section-header">
Report Pie Chart
</div>
<div id="chartContainer" style="height: 300px; width: 100%;"></div>