$webResourceManager.requireResourcesForContext("jira-report-plugin")

#if($isExcel == false)
<script>
AJS.$(document).ready(function() {
    AJS.$("#download-excel-link").attr("href", AJS.$(".excel a").attr("href"));
});
</script>
#end

<script type="text/javascript">
var chartTitle = "Success vs Failed Deployments for $projectName";
var dataPoints = [];

#foreach ($row in $pieChartData)
    dataPoints.push({y: $row.get(0), legendText: "$row.get(1)", label: "$row.get(2)", quantity: "$row.get(3)"});
#end

window.onload = function () {
    var chart = new CanvasJS.Chart("chartContainer",
    {
        title:{
            text: chartTitle
        },
        animationEnabled: true,
        legend:{
            verticalAlign: "center",
            horizontalAlign: "left",
            fontSize: 20,
            fontFamily: "Helvetica"        
        },
        theme: "theme2",
        data: [
        {        
            type: "pie",       
            indexLabelFontFamily: "Garamond",       
            indexLabelFontSize: 20,
            indexLabel: "{label} ({quantity}) {y}%",
            startAngle:-20,      
            showInLegend: true,
            toolTipContent:"{legendText} {y}%",
            dataPoints: dataPoints
        }
        ]
    });
    chart.render();
}
</script>



#if($isExcel == true)
<style>
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
}
</style>
#end

<div style="padding: 5px">

#if($isExcel == true)
<p style="font-size: 24px;">Proteus Deployed Product Releases Report</p>
#end

<!--Only include this Excel Download Link in Web Report-->
#if($isExcel == false)
<div style="height: 12px;">
    <a id="download-excel-link" class="btn btn-default" href="#" role="button" style="float:right; clear:right;">Download Report as Excel</a>
</div>
#end

<!-- Display the report configuration -->
<div class="report-section-header">
Report Information:
</div>
<div>   
   <table class="table-desc">
       <tr><td>Project Name:</td><td id="td-project-name">$projectName</td></tr>
       <tr><td>Time Period:</td><td>$dateFormatter.format($startDate) - $dateFormatter.format($endDate)</td></tr>       
       <tr><td>Generated On:</td><td>$dateTimeFormatter.format($today)</td></tr>
   </table>
</div>
<br />

<!--Report Details section-->
<div class="report-section-header">
Report Details:
</div>
<div id="chartContainer" style="height: 300px; width: 100%;"></div>

<!--Report Details Table, only show up for excel result-->
#if($isExcel == true)
    <table class="table table-striped table-report">
        <thead>
        <tr>
            <th>Deployment Result</th>
            <th>Quantity</th>            
        </tr>
        </thead>        
        #foreach ($row in $pieChartData)
            <tr>
                <td>$row.get(1)</td>
                <td>$row.get(3)</td>
            </tr>
        #end
    </table>
#end
</div>