<div style="padding: 5px">
<!-- Display the report configuration -->
<h4>
	This is new Proteus JIRA Report
    $i18n.getText('report.issuecreation.project'): $projectName | 
    $i18n.getText('report.issuecreation.duration'): $outlookDate.formatDMY($startDate) - $outlookDate.formatDMY($endDate) 
</h4>
<br />
<table style="width: 100%; border: 0; background-color: lightgrey">
    #foreach ($row in $issues)
    <tr>    	
    	<td>
    		$row.getIssueTitle()
    	</td>        
    </tr>
    #end
</table>
</div>