<style>
.report-info {
    font-family: "Verdana", Times, serif;
}
div.aui-message.info {
    display:none;
}
</style>
<div style="padding: 5px">
<!-- Display the report configuration -->

<div class="report-section-header">
Report Information:
</div>
<div>
   <p></p>
   <table class="table-desc">
   <tr><td>Project Name:</td><td>$projectName</td></tr>
   <tr><td>Time Period:</td><td>$dateTimeFormatter.format($startDate) - $dateTimeFormatter.format($endDate)</td></tr>
   <tr><td>Result Set:</td>
        <td>
            #if($deploymentResult == "success")
                Success Deployments Only
            #else
                All Deployments
            #end
        </td>
   </tr>
   <tr><td>Generated On:</td><td>20150413</td></tr>
   </table>
</div>
<br />
<style>
	table {
      background-color: transparent;
    }
    table {
      border-spacing: 0;
      border-collapse: collapse;
    }
    .table>thead:first-child>tr:first-child>th {
        border-top: 0;
    }
    .table>thead>tr>th {
      vertical-align: bottom;
      border-bottom: 2px solid #ddd;
    }
    .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
      padding: 8px;
      line-height: 1.42857143;
      vertical-align: top;
      border-top: 1px solid #ddd;
    }
    .table-report {
      width: 100%;
      text-align: center;
    }
    .table-striped>tbody>tr:nth-of-type(odd) {
      background-color: #f9f9f9;
    }
    .report-section-header {
      border-bottom: 1px solid #ccc;
      padding-bottom: 5px;
      background-color: #fff;
      font-size: 16px;
      font-weight: bold;
      margin-bottom: 8px;
    }
    .table-desc tr>td:first-child{
        color: #707070;
        width: 150px;
    }
</style>
<div class="report-section-header">
Report Details:
</div>
<table class="table table-striped table-report">
    <thead>
	<tr>
        <th>Issue Id</th>
        <th>Title</th>
        <th>Component</th>
        <th>Version</th>
        #foreach ($env in $environments)
        <th>$env</th>
        #end  
    </tr>
	</thead>	
    #foreach ($issue in $issues)
        #if($issue.isEverDeployed())
            <tr>
            	<td>
            		<a href="#">$issue.getIssueKey()</a>
            	</td>    	
            	<td>
            		$issue.getIssueTitle()
            	</td> 
            	<td>
            		$issue.getDeployedComponent()
            	</td>
            	<td>
            		$issue.getDeployedVersion()
            	</td>
            	#foreach ($env in $environments)
            	<td>
                    #if($deploymentResult == "success")
            		  #set ($activity = $issue.getLastSuccessDeploymentToEnv($env))
            		#else
            		  #set ($activity = $issue.getLastDeploymentToEnv($env))
            		#end
            		#if($activity)
            	       $dateTimeFormatter.format($activity.getActionDate())
            	    #else 
            	       ---
            		#end
            	</td>
            	#end      
            </tr>
        #end
    #end
</table>
</div>