<div style="padding: 5px">
<!-- Display the report configuration -->
<h4>
	This is new Proteus JIRA Report
    $i18n.getText('report.issuecreation.project'): $projectName | 
    $i18n.getText('report.issuecreation.duration'): $outlookDate.formatDMY($startDate) - $outlookDate.formatDMY($endDate) 
</h4>
<br />
<style>
	table, th, td {
	    border: 1px solid black;
	    border-collapse: collapse;
	}
	th {
	    padding: 5px;
	    text-align: center;
	}
	td {
		width: 30px;
		height: 30px;
		text-align: center;
	}
	table#t01 {
	    width: 100%;    
	    background-color: #f1f1c1;
	}
</style>
<table style="width: 100%; border: 0; background-color: lightgrey">
	<tr>
		<th colspan="4"></th>
		<th colspan="$environments.size()">Deployed Environments</th>
	</tr>
	<tr>
		<th>Issue Id</th>
		<th>Title</th>
		<th>Component</th>
		<th>Version</th>
		#foreach ($env in $environments)
	   	<th>$env</th>
    	#end  
	</tr>
    #foreach ($issue in $issues)
    <tr>
    	<td>
    		<a href="#">$issue.getIssueKey()</a>
    	</td>    	
    	<td>
    		$issue.getIssueTitle()
    	</td> 
    	<td>
    		TBD
    	</td>
    	<td>
    		TBD
    	</td>
    	#foreach ($env in $environments)
    	<td>
    		#set ($activity = $issue.getLastDeploymentToEnv($env))
    		#if($activity)
    	       $activity.getActionTime().toString()
    	    #else 
    	       ---
    		#end
    	</td>
    	#end      
    </tr>
    #end
</table>
</div>